#imagem-cachorrinho{ 
    width: 200px;
}

#conteudo-listas{
    text-align: left;
}
.subtitulo{
    border: dotted 4px purple;
}

#link{
    color: aquamarine;
    text-decoration: none;
}

#link:hover{
    color: rgb(255, 127, 234);
    text-decoration: none;
}